@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

html,body{
	padding: 0;
	margin: 0;
}

.overlay{
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100vh;
}
header{
	width: 100%;
	height: 100vh;
	background: center no-repeat;
	background-size: cover;
	animation: slide 30s infinite;
}

@keyframes slide{
	0%{
		background-image: url('img/bg1.jpg');
	}
	30%{
		background-image: url('img/bg2.jpg');
	}
	65%{
		background-image: url('img/bg3.jpg');
	}
	100%{
		background-image: url('img/bg4.jpg');
	}
}
/*Navigation*/

/*Logo*/
.navbar{
	background-color: rgba(243,242,208,1);
}

.navbar-brand{
	position: absolute;
	padding-top: 0;
	left: 50%;
	transform: translate(-50%);
}
.navbar-brand img{
	max-height: 50px;
}

.navbar-brand p{
	font-family: 'Tangerine', cursive;
	color: rgb(139,0,0);
	font-size: 45px;
	font-weight: 700;
}

/*Hamburger Menu*/
.hamburger-menu{
	position: fixed;
	top: 45px;
	right: 25px;
	width: 45px;
	height: 45px;
	display: flex;
	background-color: rgba(243,242,208,.7);
	border-radius: 3px;
	z-index: 900;
}

.hamburger-menu i{
	margin: auto;
	font-size: 30px;
	color: rgb(139,0,0);
}

.hamburger-menu .fa-times{
	display: none;
}

.hamburger-menu .fa-times.open{
	display: block;
}

.hamburger-menu .fa-bars.open{
	display: none;
}
.nav-list{
	position: relative;
	padding-top: 100px;
	padding-left: 0;
	flex-direction: row;
	margin: auto;
	list-style: none;
	text-align: center;
	opacity: 1;
	z-index: 900;
}
.nav-item{
	display: inline-block;
	padding: 0 15px;
	margin: 0 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav-link{
	color: rgb(139,0,0);
}

.nav-link:hover{
	color: rgb(200,0,0);
}

.header-text{
	padding-bottom: 5px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header-text h1{
	width: 100vw;
	font-family: 'Teko', sans-serif;
	animation: anim 0.5s;
}

@keyframes anim{
	0%{
		opacity: 0;
	}

	25%{
		opacity: .0;
	}

	50%{
		opacity: .5;
	}

	75%{
		opacity: .75;
	}

	85%{
		opacity: .85;
	}

	100%{
		opacity: 1;
	}


}

.header-text p{
	animation: animII 1.5s;
}

@keyframes animII{
	0%{
		opacity: 0;
	}

	50%{
		opacity: .0;
	}

	75%{
		opacity: .5;
	}

	80%{
		opacity: .7;
	}

	85%{
		opacity: .85;
	}

	100%{
		opacity: 1;
	}


}

.header-text .btn{
	border: 2px solid rgba(243,242,208,.7);
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
}

.btn-cont{
	animation: animIII 2.5s;
}

@keyframes animIII{
	0%{
		opacity: 0;
	}

	75%{
		opacity: 0;
	}

	80%{
		opacity: .1;
		margin-left: 30px;
	}

	82.5%{
		opacity: .2;
		margin-left: 25px;
	}
	85%{
		opacity: .25;
		margin-left: 20px;
	}

	87.5%{
		opacity: 0.3;
		margin-left: 15px;
	}

	90%{
		opacity: .45;
		margin-left: 10px;
	}

	95%{
		opacity: .6;
		margin-left: 5px;
	}
	100%{
		opacity: 1;
	}

}

/*About Section*/
.section-heading h4{
	text-transform: uppercase;
	color: #101d2c;
	line-height: 0;
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

.section-heading h1{
	font-family: 'Tangerine', cursive;
	color: #c69963;
}

.about .btn{
	border: 1px solid #c69963;
	width: 150px;
	color: #c69963 !important;
	transition: background-color 650ms;
}

.about .btn:hover{
	color: #fff !important;
	background-color: #c69963;
}


/*Footer*/


footer{
	width: 100%;
	bottom: 0;
	padding-bottom: 40px; 
	background-color: rgb(139,0,0);
	color: rgb(243,242,208);
}

.social-icons{
	font-size: 35px;
}

.fa-facebook, .fa-twitter,.fa-instagram{
	transition: opacity 650ms;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover{
	opacity: .5;
}

.social-icons i{
	padding: 0 20px;
}

.hr-footer{
	width: 75%;
	border-top: solid 1px rgba(243,242,208,.7); 
}


/*Media Queries*/




@media(min-width: 992px){

	header, .overlay{
		height: 90vh;
	}

	.hamburger-menu{
		display: none;
		transform: scale(0);
	}

	.header-text h1{
		font-size: 60px;
		letter-spacing: 3px;
	}
}

@media(max-width: 992px){

	.navbar-brand{
		position: relative;
	}
	.nav-list{
		top: 0;
		left: 0;
		display: block;
		position: fixed;
		flex-direction: column;	
		opacity: 0;
		transform: scale(0);
		transition: opacity 650ms;
	}

	.nav-list.open{ /*To show when toggled*/
	width: 100%;
	height: 100vh;
	background-color: rgba(243,242,208,1);
	opacity: 1;
	transform: scale(1);
	}

	.nav-item{
		display: list-item;
		padding: 30px 0px;
	}

	.hamburger-menu {
		top: 50px;
	}

	.hamburger-menu i{
		font-size: 25px;
	}

	.social-icons{
		font-size: 25px;
	}

	.social-icons i{
		padding: 0 5px;
	}

	.header-text h1{
		font-size: 50px;
		letter-spacing: 2px;
	}
}

